<body>
	<header>
		<hgroup>
			<h1>Road Warriors</h1>
			<h2>Return Stronger&trade;</h2>
		</hgroup>
		<nav>
			<ul>
				<li class="sign-in"><a href="javascript:void(0)">Sign In</a></li>
				<li class="join"><a href="/partials/join.html">Join</a></li>
				<li class="initiate"><a href="javascript:void(0)">Initiate</a></li>				
				<li class="options"><a href="javascript:void(0)">Options</a></li>
				<li class="home"><a href="javascript:void(0)">Home</a></li>
			</ul>
		</nav>
	</header>

	<div id="main">
		<!-- A containing DIV for page content. -->
		<div id="content"></div>

		<!-- Main website navigation. -->
		<nav>
			<ul>
				<li class="movable">
					<a href="/partials/about.html">
						<section>Nulla Tellus<br>Varius Vel<br>Sodales</section>
						<span>About</span>
					</a>
				</li>
				<li>
					<a href="/partials/mix.html">
						<section>Hendrerit Quis<br>Nulla Volutpat<br>Placerat</section>
						<span>Mix</span>
					</a>
				</li>
				<li class="movable">
					<a href="/partials/grow.html">
						<section>Donec Volutpat<br>Felis a Dui<br>Gravida</section>
						<span>Grow</span>
					</a>
				</li>
				<li>
					<a href="/partials/outreach.html">
						<section>Aenean Pellentesque<br>Venenatis Libero<br>Sed Euismod</section>
						<span>Outreach</span>
					</a>
				</li>
				<li class="movable">
					<a href="/partials/wisdom.html">
						<section>Daily Thoughts<br>Travel Tips<br>Tunes</section>
						<span>Wisdom</span>
					</a>
				</li>
				<li>
					<a href="/partials/blog.html">
						<section>Aliquam Commodo<br>Dui ut Eleifend<br>Lobortis</section>
						<span>Blog</span>
					</a>
				</li>
			</ul>			
		</nav>
	</div>

	<footer>
		<section id="copyright">Road Warriors &copy; 2014</section>
		<section id="authors"><a href="http://www.einsteinseyes.com/what-we-do/web-design" target="_blank">Dallas Web Design</a> by Einstein's Eyes</section>
		<div class="clear"></div>
	</footer>
</body>